body {
    background-color: #011430;
    color: #ff5a5f;
    font-family: Arial, sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 100vh;
    margin: 0;

    overflow-x: hidden;
    overflow-y: auto;
}

/* Ana Kart */

.container {
    background: rgba(255, 255, 255, 0.08);

    backdrop-filter: blur(12px);

    padding: 50px;

    border-radius: 25px;

    max-width: 600px;

    text-align: center;

    border: 1px solid rgba(255, 255, 255, 0.15);

    box-shadow: 0 0 35px rgba(0, 0, 0, .35);
}

/* Başlık */

h1 {

    font-family: "Cherish", cursive;

    font-size: 48px;

    margin-bottom: 20px;

    text-shadow:
        0 0 10px #ff5a5f,
        0 0 25px #ff5a5f;

}

/* Yazı */

p {

    color: white;

    font-size: 20px;

    margin-bottom: 35px;

}

/* Buton */

button {

    background: #E63946;

    color: white;

    border: none;

    padding: 16px 38px;

    border-radius: 15px;

    cursor: pointer;

    font-size: 18px;

    transition: 0.3s;

}

button:hover {

    background: #ff5a5f;

    transform: scale(1.08);

}

/* Fotoğraflar */

.photo {

    position: absolute;

    width: 180px;

    background: white;

    padding: 10px 10px 30px 10px;

    border-radius: 6px;

    box-shadow: 0 12px 30px rgba(0,0,0,.35);

    transition: .3s;

    object-fit: cover;

    aspect-ratio: 3 / 4;

}

.photo1 {

    top: 50px;

    left: 70px;

    transform: rotate(-8deg);

}

.photo2 {

    top: 50px;

    right: 70px;

    transform: rotate(8deg);

}

.photo3 {

    bottom: 50px;

    right: 120px;

    transform: rotate(-7deg);

}

.photo1:hover {

    transform: rotate(-8deg) scale(1.08);

}

.photo2:hover {

    transform: rotate(8deg) scale(1.08);

}

.photo3:hover {

    transform: rotate(-7deg) scale(1.08);

}

/* Yıldızlar */

.star {

    position: absolute;

    width: 3px;

    height: 3px;

    background: white;

    border-radius: 50%;

    animation: twinkle 2s infinite alternate;

}

@keyframes twinkle {

    from {

        opacity: 0.2;

        transform: scale(1);

    }

    to {

        opacity: 1;

        transform: scale(2);

    }

}

/* LETTER SAYFASI */

.letter-box {

    text-align: center;

}

.envelope {

    font-size: 150px;

    cursor: pointer;

    transition: .4s;

}

.envelope:hover {

    transform: scale(1.1) rotate(5deg);

}

.envelope.open {

    animation: shake .7s;

}

.hidden {

    display: none;

}

#letter {

max-height: 75vh;

overflow-y: auto;

    display: none;

    width: 650px;
    max-width: 90%;

    margin-top: 30px;

    padding: 35px;

    background: linear-gradient(
        180deg,
        #1a1a1a,
        #0d0d0d
    );

    border: 2px solid #E63946;

    border-radius: 20px;

    box-shadow:
        0 0 20px rgba(230,57,70,.45),
        0 0 50px rgba(230,57,70,.15);

    line-height: 1.8;

    animation: letterAppear .8s ease;

}

#letter h3 {

    color: #ff5a5f;

    font-family: "Cherish", cursive;

    font-size: 34px;

    text-align: center;

    margin-bottom: 25px;

}

#typing {

    color: #d94a57;

    font-size: 19px;

    line-height: 1.9;

    white-space: pre-line;

    text-align: left;

}

@keyframes letterAppear {

    from {

        opacity: 0;

        transform: translateY(40px);

    }

    to {

        opacity: 1;

        transform: translateY(0);

    }

}

@keyframes shake {

    0% { transform: rotate(0deg); }

    20% { transform: rotate(-8deg); }

    40% { transform: rotate(8deg); }

    60% { transform: rotate(-6deg); }

    80% { transform: rotate(6deg); }

    100% { transform: rotate(0deg); }

}
#memoryBtn{

    display:none;

    margin:35px auto 0;

    background:#E63946;

    color:white;

    border:none;

    padding:15px 35px;

    border-radius:15px;

    cursor:pointer;

    font-size:18px;

    transition:.4s;

    opacity:0;

}
#memoryBtn:hover{

    transform:scale(1.08);

    background:#ff5a5f;

}
/* ========================= */
/* MEMORIES SAYFASI */
/* ========================= */

.memories-page{

    display:block;

    background:#011430;

    min-height:100vh;

    padding:40px;

    overflow-y:auto;

}

.memories-page h1{

    text-align:center;

    margin-bottom:15px;

}

.subtitle{

    text-align:center;

    color:white;

    margin-bottom:60px;

}

.dump{

    position:relative;

    width:100%;

    height:2100px;

}

/* Fotoğraflar */

.memory{

    position:absolute;

    width:220px;

    background:white;

    padding:10px 10px 30px;

    border-radius:8px;

    box-shadow:0 12px 30px rgba(0,0,0,.4);

    object-fit:cover;

    aspect-ratio:3/4;

    cursor:pointer;

    transition:.35s;

}

.memory:hover{

    transform:scale(1.08);

    z-index:999;

}
.m1{

    top:20px;

    left:60px;

    transform:rotate(-8deg);

}

.m2{

    top:120px;

    right:90px;

    transform:rotate(9deg);

}

.m3{

    top:420px;

    left:220px;

    transform:rotate(-5deg);

}

.m4{

    top:320px;

    right:280px;

    transform:rotate(6deg);

}

.m5{

    top:720px;

    left:80px;

    transform:rotate(8deg);

}

.m6{

    top:650px;

    right:100px;

    transform:rotate(-7deg);

}

.m7{

    top:980px;

    left:320px;

    transform:rotate(-10deg);

}

.m8{

    top:1040px;

    right:240px;

    transform:rotate(7deg);

}

.m9{

    top:1220px;

    left:50%;

    transform:translateX(-50%) rotate(-4deg);
    }

.m10{
    top:1450px;
    right:80px;
    transform:rotate(-9deg);
}

.m11{
    top:1650px;
    left:150px;
    transform:rotate(7deg);
}

.m12{
    top:1850px;
    right:250px;
    transform:rotate(-5deg);
}


/* ========================= */
/* FOTOĞRAF POPUP */
/* ========================= */

.popup{

    display:none;

    position:fixed;

    top:0;
    left:0;

    width:100%;
    height:100%;

    background:rgba(0,0,0,.88);

    z-index:9999;

    justify-content:center;

    align-items:center;

    flex-direction:column;

    animation:fade .35s;

}

.popup img{

    max-width:420px;

    max-height:70vh;

    border-radius:15px;

    border:5px solid white;

    box-shadow:0 0 40px rgba(255,255,255,.2);

}

#popupText{

    margin-top:30px;

    width:700px;

    max-width:90%;

    color:white;

    font-size:20px;

    line-height:1.8;

    text-align:center;

}

.close{

    position:absolute;

    top:25px;

    right:35px;

    color:white;

    font-size:55px;

    cursor:pointer;

    transition:.3s;

}

.close:hover{

    color:#ff5a5f;

    transform:scale(1.2);

}

@keyframes fade{

    from{

        opacity:0;

    }

    to{

        opacity:1;

    }

}
.popup img{

    animation: zoom .35s ease;

}

@keyframes zoom{

    from{

        transform:scale(.6);

        opacity:0;

    }

    to{

        transform:scale(1);

        opacity:1;

    }

}
.star{

    position: fixed;

    width: 3px;

    height: 3px;

    background: white;

    border-radius: 50%;

    pointer-events: none;

    z-index: -1;

    animation: twinkle 2s infinite alternate;

}
/* ========================= */
/* FINAL SAYFASI */
/* ========================= */

.final-page{

    background:#011430;

    display:flex;

    justify-content:center;

    align-items:center;

    min-height:100vh;

    overflow:hidden;

    position:relative;

}

.final-box{

    text-align:center;

     z-index:5;

}


.final-message{

    display:none;

    margin-top:40px;

    color:#ff5a5f;

    font-size:45px;

    font-family:"Cherish", cursive;

    text-align:center;

    max-width:900px;

}
/* ========================= */
/* KONFETİ */
/* ========================= */

.confetti{

    position:fixed;

    width:8px;

    height:16px;

    border-radius:2px;

    top:-20px;

    animation:fall 4s linear forwards;

    z-index:9999;

}

@keyframes fall{

    0%{

        transform:translateY(-30px) rotate(0deg);

        opacity:1;

    }

    100%{

        transform:translateY(110vh) rotate(720deg);

        opacity:0;

    }

}
/* Mumlar */

.candles{

    font-size:38px;

    margin-bottom:-18px;

    letter-spacing:12px;

    animation:flicker .5s infinite alternate;

}

@keyframes flicker{

    from{

        opacity:.75;

    }

    to{

        opacity:1;

        transform:scale(1.05);

    }

}
.cake{

filter:drop-shadow(0 0 25px rgba(255,70,70,.35));

    width:380px;

    cursor:pointer;

    transition:.4s;

    user-select:none;

}

.cake:hover{

    transform:scale(1.08) rotate(-2deg);;

}
#intro{

    margin-bottom:40px;

}

#cakeSection{

    margin-top:15px;

}
#finalMessage{

    opacity:0;

    transition:1s;

}

#finalMessage.show{

    opacity:1;

}
.finish-section{

    text-align:center;

    margin:80px 0 120px;

}

.finish-section button{

    font-size:24px;

    padding:18px 45px;

    border-radius:18px;

}